input{
	margin-top: 5px;
}


#iconed, #iconbo{
	font-size: 20px;
	cursor: pointer;
}

#iconed{
	color: blue;
}

#iconbo{
	color: red;
}

#iconed:hover{
	color: gray;
}

#iconbo:hover{
	color: gray;
}


